{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% include "components/errors.html" %}
      </div>
    </div>

    <div 
      x-data="ChallengeBoard" 
      @load-challenges.window="loadChallenges()" 
      @load-challenge.window="loadChallenge($event.detail)"
      x-init="$nextTick(() => { window.addEventListener('hashchange', () => handleUrlHash(window.location.hash)) })"
    >
      <div x-show="!loaded">
        <div class="min-vh-50 d-flex align-items-center">
          <div class="text-center w-100">
            <i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
          </div>
        </div>
      </div>

      <div x-show="loaded">
        <template x-if="challenges.length === 0">
          <div class="text-center w-100">
            <h1>No challenge available at this time.</h1>
          </div>
        </template>
        <!-- Single challenge mode - directly show challenge without tabs -->
        <template x-if="challenges.length === 1">
          <div
              id="single-challenge-container" class="pt-3" x-data=""
              x-html="getChallengeView(challenges[0].id)"
          ></div>
        </template>
        
        <!-- Multiple challenges mode - use tabs -->
        <template x-if="challenges.length > 1">
          <div>
            <!-- Challenge tabs -->
            <ul class="nav nav-tabs" id="challenge-tabs" role="tablist">
              <template x-for="(challenge, idx) in challenges" :key="challenge.id">
                <li class="nav-item" role="presentation">
                  <button 
                    class="nav-link" 
                    :class="{'active': challenge.id === activeChallengeId}"
                    :id="'challenge-tab-' + challenge.id" 
                    data-bs-toggle="tab" 
                    :data-bs-target="'#challenge-' + challenge.id" 
                    type="button" 
                    role="tab"
                    :aria-controls="'challenge-' + challenge.id"
                    :aria-selected="challenge.id === activeChallengeId ? 'true' : 'false'"
                    @click="loadChallenge(challenge.id)"
                  >
                    <span 
                      x-text="challenge.name"
                      :class="{'text-success': challenge.solved_by_me}"
                    ></span>
                  </button>
                </li>
              </template>
            </ul>
            
            <!-- Tab content -->
            <div class="tab-content" id="challenge-tab-content">
              <template x-for="(challenge, idx) in challenges" :key="challenge.id">
                <div 
                  class="tab-pane fade" 
                  :class="{'show active': challenge.id === activeChallengeId}"
                  :id="'challenge-' + challenge.id" 
                  role="tabpanel"
                  :aria-labelledby="'challenge-tab-' + challenge.id"
                >
                  <div :id="'challenge-container-' + challenge.id" class="pt-3"
                       x-data="" x-html="getChallengeView(challenge.id)">
                  </div>
                </div>
              </template>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/challenges.js") }}
{% endblock %}